.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.title-bar-action {
    cursor: pointer;    
    padding: 0.2rem 0.5rem; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-bar-action:hover{
    background-color: var(--bs-gray-400);
}