.was-validated .form-control:valid, .form-control.is-valid {
    border-color: $input-border-width solid $input-border-color;
    background-image: none;
}
    
.calendar-popover {
    max-width: 100vw;
}

.calendar-button {
    position: absolute !important;
    font-size: larger;
    cursor: pointer;
    right: 0;
    padding: 13.6px;
}

.calendar-input {
    cursor: pointer;
    background-color: #fff!important;
    
    &.calendar-input-focus {
        padding-top: $form-floating-input-padding-t;
        padding-bottom: $form-floating-input-padding-b;
        color: $input-focus-color;
        background-color: $input-focus-bg;
        border-color: $input-focus-border-color;
        outline: 0;
        @if $enable-shadows {
        @include box-shadow($input-box-shadow, $input-focus-box-shadow);
        } @else {
            box-shadow: $input-focus-box-shadow;
        }
    }

    &.calendar-input-focus + label {
        opacity: $form-floating-label-opacity;
        transform: $form-floating-label-transform;
    }
}

.calendar-day {
    cursor: pointer;
    border: 1px solid transparent;
    text-align: center;

    &.calendar-day-selected{
        background-color: $primary-color;
        color: $primary-text-color;
    }

    &.calendar-day-other-month{
        opacity: 25%;
    }

    &:hover {
        border-color: $primary-color;
    }
}

.calendar-date-header {
    text-align: center;
}
