.was-validated .form-control:valid, .form-control.is-valid {
    border-color: $input-border-width solid $input-border-color;
    background-image: none;
}
    
.date-popover {
    max-width: 300px;
}