.overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    z-index: 100; 

    >:first-child {
        position: fixed;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        background: black;
        opacity: 60%;
    }

    >:last-child {
        position: fixed;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;
        z-index: 100;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;                
    }
}